.msg-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}

.msg {
  padding: .9em 1.4em;
  max-width: 70%;
  word-wrap: break-word;
  border-radius: 2rem;
  position: relative;
  color: white;
  text-align: center;
}

.sent {
flex-direction: row-reverse;
}

.sent .msg {
  color: white;
  background: rgb(66,133,244);
  align-self: flex-end;
}

.received .msg {
  background: rgb(220,220,220);
  color: black;
}

.profile-pic{
  width: 3em;
  height: 3em;
  border-radius: 50%;
}

.sent .profile-pic{
  margin-left: 1em;
}

.received .profile-pic{
  margin-right: 1em;
}

